comment: "Created by Jón Reginbald Ívarsson and Ingibjörg Jónsdóttir"
fileTypes: [
  "rebeca", "property"
]
name: "Rebeca"
patterns: [
  {
    'begin': '//'
    'end': '\\n'
    'name': 'comment.line.double-slash.avdl'
  },
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block.avdl'
  }
]
