comment: "Created by Jón Reginbald Ívarsson and Ingibjörg Ósk Jónsdóttir"
scopeName: 'souce.rebeca'
fileTypes: [
  "rebeca", "property"
]
name: "Rebeca"
patterns: [
  {
    'begin': '//'
    'end': '\\n'
    'name': 'comment.line.double-slash.rebeca'
  },
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block.rebeca'
  }
]
